#canvas-container {
    width: 1000px;
    height: 700px;
    border: 1px solid #ccc;
  }
  
  #canvas {
    width: 100%;
    height: 100%;
  }
  
  .axis {
    stroke: #000;
    stroke-width: 1px;
  }
  
  .tick {
    stroke: #aaa;
    stroke-width: 0.5px;
  }
  
  .label {
    font-family: Arial, sans-serif;
    font-size: 10px;
    fill: #000;
  }
  canvas {
    width: 1000px;
    height: 700px;
    border: 1px solid #000;
  }
  
.main {
    display: flex;
    column-gap: 100px;
}

#drawDiagonalButton {
    margin-top: 5px;
}

.diagonal {
    display: flex;
    column-gap: 20px;
}

.container {
    padding-top: 80px;
}

.circle {
    display: none;
  }
  
  